html{
	scroll-behavior: smooth;
}
body{
	font: 15px/1.5 Arial Narrow;
	padding: 0;
	margin: 0;
	background-color: #EAEAEA;
}
p a{
	text-decoration: none;
	color: #331832
}

/* Global Content */
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.navbar{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.home-text{
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding-top: 100px;
}

ul{
	margin: 0;
	padding: 0;
}

/* Header Things */
header{
	background-color: #A499B3;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #331832 3px solid;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #logo{
	float: left;
}

header #logo h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight,header .current a{
	color: #534B62;
	font-weight: bold;
}
header a:hover{
	color: #331832;
	font-weight: bold;
}
/* Dropdown Menu */
.dropdown{
	display: inline;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  margin-top: -4px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cd {
	cursor: default;
}

/*Showcase*/
#home-img{
	min-height: 600px;
	background:url('../img/title.jpg') no-repeat 0 -1400px; 
	text-align: center;
	color: #ffffff;
}

#home-img h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#home-img p{
	font-size: 20px;
}

#introduction{
	text-align: center;
	background-color: #A499B3;
	padding: 10px;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 15px;
}

#introduction p{
	font-size: 30px;
	color: #ffffff;
}

.image-disc{
	background-color: #A499B3;
	padding: 2px;
	width: 60%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 20px;
}

/* Boxes */
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 33.33%;
	padding: 0px;
}

#boxes .box img{
	width:80%;
	border-radius: 15px;
} 

#boxes .box:hover{
	background-color: #A499B3;
	border-radius: 50px;
} 

#boxes .box:hover>.image-disc{
	box-shadow: 0 0 3px #ddd;
} 

/* JS */
@media(max-width: 768px){
	header #logo, 
	header nav,
	header nav li,
	header nav li a,
	#boxes .box,
	#pages-contents .img-container{
		float:none;
		text-align: center;
		width: 100%;

	}
	header{
		padding-bottom: 20px;
	}
	#showcase h1{
		margin-top: 40px;
	}
	#boxes .box{
		padding-bottom: 1px;
		padding-top: 5px;
	}
	.dropdown-content{
		width: 1%;
		text-align: center;
		float: right;
		margin-left: 40%;

	}

}

/*Links*/
/*Fibre*/
#fibre-img{
	margin-top: 20px;
	min-height: 600px;
	background:url('../img/fibre-title.jpg') no-repeat 0 -700px; /* Retrieved from: https://s3-eu-central-1.amazonaws.com/centaur-wp/theengineer/prod/content/uploads/2017/11/21165110/Optical-Fibers.jpg; */
	text-align: center;
	color: #ffffff;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px
}

#fibre-img h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

/* Simple grid */
.img-container{
	width: 40%;
	overflow: hidden;
	margin: auto;
}

.img-container img{
	max-width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 25px;
	margin: auto;
}

.img-container .img-box img{
	width: 100%;
	margin: auto;
}

.page-text{
	margin: auto;
	text-align: center;
	background-color: #A499B3;
	padding: 2px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 15px;
	color: #ffffff;
	font-size: 20px;
}


.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}

#pages-contents{
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100	px;
	margin-bottom: 20px;

}
/*WiFi Zones*/
#wifi-img{
	margin-top: 20px;
	min-height: 600px;
	background:url('../img/wifi-booth-title.jpg') no-repeat -1300px -600px; /*Retrieved from: http://thejourneysouth.net/wp-content/uploads/2016/06/DSC02210-449x304.jpg */
	text-align: center;
	color: #ffffff;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px
}
#wifi-img h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

/*Cameras*/
#sec-img{
	margin-top: 20px;
	min-height: 600px;
	background:url('../img/sec-title.JPG') no-repeat -700px -300px; 
	text-align: center;
	color: #ffffff;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px
}

#sec-img h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}